

@mixin flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

@mixin radius{
    border-radius: 10px;
}

@mixin grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
}


@mixin respond-to($breakpoint) {
    @if $breakpoint == 'mobile' {
      @media (max-width: 480px) { @content; }
    }

    //  @else if $breakpoint == 'desktop' {
    //   @media (min-width: 1024px) { @content; }
    // }
  }


