$base-font-size: 16px;







$primary-color:rgba(53, 99, 233, 1);
$secondary-color: rgba(84, 166, 255, 1);
$background-color: rgba(246, 247, 249, 1);
$content-background-color: rgba(255, 255, 255, 1);
$border-color: rgba(195, 212, 233, 0.4);