
$color1: #3563E9;
$color2: #54A6FF;
$inputTextcolor: #596780;
$borderColor: #C3D4E9;
$textColor: #90A3BF;
$footerTextcolor: #13131399;
$bgColor: #F6F7F9;
$contentBgcolor: #FFFFFF;
$iconColor: #596780;

