$headingFontsize: 32px;
$normalFontsize: 16px;
$smalltextFontsize: 14px;
$myFontsize: 20px;
$selectText: 12px;
$myFont: "Plus Jakarta Sans", sans-serif;


$myFontweight: 700;
$myFontweight2: 600;
$myFontweight3: 500;
