@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    font-family: "Plus Jakarta Sans", sans-serif;
    background-color:rgba(246, 247, 249, 1)
    
}

$headingFontsize: 32px;
$normalFontsize: 16px;
$smalltextFontsize: 14px;
$myFont: "Plus Jakarta Sans", sans-serif;

nav{
    display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 40px 40px 40px 60px;
     background-color: white;
     
    .nav-logo-search{
        width: 50%;
        display: flex;
        gap: 60px;
    }
    
     .search_icon{
        display: flex;
        align-items: center;
        gap: 10px;
        border: 1px solid rgba(195, 212, 233, 0.4);
        border-radius: 70px;
        width: 80%;
        padding: 12px 12px 12px 17px;

        input{
            font-family: $myFont;
            font-size: $smalltextFontsize;
            border: none;
            width: 85%;
        }

        input:focus{
            outline: none;
        }

     }
    span{
        width: 148px;
        color: rgba(53, 99, 233, 1);
        font-size: $headingFontsize;
    }
    .setting_icon{
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;


        i{
            color: rgba(89, 103, 128, 1);
            border: 1px solid rgba(195, 212, 233, 0.4);
            padding: 10px;
            border-radius: 50%;
        }
    }
}




.hero{
    padding: 32px 64px 32px 64px;
     display: flex;
     justify-content: space-around;
     gap: 30px;


     .hero_section-first{

        width: 640px;
        height: 360px;
        border-radius: 10px;
        background:rgba(84, 166, 255, 1) url(../assets/images/BG.png);
        background-repeat: no-repeat;
        background-size: cover;
     }

     .hero_section-second{
        @extend .hero_section-first; 
        background:rgba(53, 99, 233, 1) url(../assets/images/BG2.png);
     }

     .hero_content{
        // width: 284px;
        padding: 24px 0 0 24px;

        h1{
            font-size: $headingFontsize;
            width: 277px;
            line-height: 48px;
        }
        p{
            font-size: $normalFontsize;
            width: 320px;
            line-height: 24px;
        }
        .btn1{
            margin-top: 24px;

            button{
                background-color: rgba(53, 99, 233, 1);
                font-size: $normalFontsize;
                font-family: $myFont;
                padding: 10px;
                border: none;
                color: rgba(255, 255, 255, 1);
                border-radius: 4px;
                cursor: pointer
            }
         }

         .btn2{
            @extend .btn1;

            button{
                @extend button;
                background-color: rgba(84, 166, 255, 1);
            }
         }
     }
 
}


.address{
    display: flex;
    justify-content: space-between;
    padding: 24px 64px 0 64px;

    .location{
        background-color: rgba(255, 255, 255, 1);
        line-height: 24px;
         padding: 24px;
         border-radius: 10px;

         label{
            font-weight: 600;
         }
 
      form{
        display: flex;
        padding-top: 13px;
        gap: 3rem;

        .form-item{
            display: flex;
            flex-direction: column;
            gap: 8px;
            border-right: 1px solid rgba(195, 212, 233, 0.4);
         
            select{
                border: none;
                color: rgba(144, 163, 191, 1);
            }
        }

      }
     
    }
}



.body-content{
    padding: 36px 64px 32px 64px;
 
    .body-content-first{
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
       

        .body-para1{
            color: rgba(144, 163, 191, 1);
        }
        .body-para2{
            padding: 10px 20px 10px 20px;
            font-weight: 600;
            color: rgba(53, 99, 233, 1);
        }
    }
    .grid-container{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 15px;
        padding: 24px 0;
      
      
      
      .grid-item{
          background-color: rgba(255, 255, 255, 1);
          border-radius: 10px;
          padding: 24px;
        
      
          .cart-love{
              font-weight: bold;
              font-size: 20px;
              display: flex;
              justify-content: space-between;
      
              .red-love{
                  color:rgba(237, 63, 63, 1);
              }
          }
          .grid-item-p2{
              color: rgba(144, 163, 191, 1);
              font-size: 14px;
              font-weight: 700;
          }
      
          img{
              width: 223px;
              height: 180px;
             object-fit: contain;
              
          }
      
          .grid-content{
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  // gap: 16px;
                  color: rgba(144, 163, 191, 1);
      
                  p{
                      display: flex;
                      align-items: center;
                      gap: 1.5px;
                  }
       
          }
      
          .grid-footer{
              display: flex;
              justify-content: space-between;
              // gap: 15px;
              padding-top: 24px;
              align-items: center;
      
              p{
                  font-size: 20px;
                  font-weight: 700;
                  line-height: 25.2px;
                  color: black;
              }
              span{
                  color: rgba(144, 163, 191, 1);
                  font-size: 14px;
              }
            
      
              button{
                  padding: 10px 20px;
                  background-color: rgba(53, 99, 233, 1);
                  border: none;
                  border-radius: 4px;
                  color: white;
                  font-family: $myFont;
                  font-size: $normalFontsize;
                  cursor: pointer;
              }
          }
      }
      
      }

      .body-content-middle{
      
        color: rgba(144, 163, 191, 1);

        p{
            padding: 10px 20px;
        }
      }

      .body-content-last{
        // padding: 64px;
        width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p{
        color: rgba(144, 163, 191, 1);
      }

      button{
        padding: 10px 20px;
        background-color: rgba(53, 99, 233, 1);
        cursor: pointer;
        border: none;
        border-radius: 4px;
        color: white;
        font-family: $myFont;
      }
    }

}


footer{
    padding: 80px 70px 30px 70px;
    background-color: rgba(255, 255, 255, 1);



.footer-body{
   padding-bottom: 36px;
    display: flex;
    justify-content: space-between;
    // border-bottom: 2px solid red;
  

    .footer-title{
        width: 25%;

        h2{
            color: rgba(53, 99, 233, 1);
            line-height: 48px;
        }
        p{
         
            font-size: $normalFontsize;
            line-height: 30px;
            color: rgba(19, 19, 19, 0.6);
        }
    }

   .footer-content{
    display: flex;
    justify-content: space-between;
    width: 40%;

    h3{
        line-height: 70px;
        font-size: 20px;
    }

    p{
        line-height: 35px;
        color: rgba(19, 19, 19, 0.6);
    }
   }
}

.footer-border{
    border: 1px solid rgba(19, 19, 19, 0.16);
}

.footer-last{
    color: rgba(26, 32, 44, 1);
    display: flex;
    justify-content: space-between;
    padding-top: 36px;


    .rules-policy{
        justify-content: space-between;
        width: 30%;
        display: flex;
    }
}
}








