@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import 'variables';
@import 'colors';
@import 'mixins';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: $bgColor;
    
}

nav{
    @include flex-between;
     padding: 40px 40px 40px 60px;
     background-color: $contentBgcolor;
     
    .nav-logo-search{
        width: 80%;
        display: flex;
        // justify-content: space-between
        gap: 100px;
    }
    
     .search_icon{
        @include flex-between;
        gap: 10px;
        border: 1px solid $borderColor;
        border-radius: 70px;
        width: 45%;
        padding: 12px 12px 12px 17px;

        input{
            font-family: $myFont;
            font-size: $smalltextFontsize;
            border: none;
            width: 85%;
        }

        input:focus{
            outline: none;
        }

     }
    span a{
            @include text-none;
            font-weight: 700;
            font-size: $headingFontsize;
            color: $color1;       
    }

    .setting_icon{
        width: 20%;
        @include flex-between;
        justify-content: space-evenly;

        i{
            color: $iconColor;
            border: 1px solid $borderColor;
            padding: 10px;
            border-radius: 50%;
        }
    }
}




.hero{
    padding: 32px 64px 32px 64px;
    @include flex-between;
     gap: 30px;


     .hero_section-first{

        width: 640px;
        height: 360px;
        border-radius: 10px;
        background: $color2 url(../assets/images/BG.png);
        background-repeat: no-repeat;
        background-size: cover;
     }

     .hero_section-second{
        @extend .hero_section-first; 
        background : $color1 url(../assets/images/BG2.png);
     }

     .hero_content{
        padding: 24px 0 0 24px;
        color: $contentBgcolor;

        h1{
            font-size: $headingFontsize;
            width: 277px;
            line-height: 48px;
        }
        p{
            font-weight: $myFontweight3;
            font-size: $normalFontsize;
            line-height: 24px;
        }
        .btn1{
            margin-top: 24px;

            button{
               @extend .btn;
                background-color: $color1;
            }
         }

         .btn2{
            @extend .btn1;

            button{
                @extend .btn;
                background-color: $color2;
            }
         }
     }
 
}


.address{
    @include flex-between;
    padding: 24px 64px 0 64px;

    .location{
         background-color: $contentBgcolor;
         line-height: 24px;
         padding: 24px;
         border-radius: 10px;


         label{
            font-size: $normalFontsize;
            font-weight: $myFontweight2;
         }
 
      form{
        display: flex;
        padding-top: 13px;
        gap: 3rem;

        .form-item{
            display: flex;
            flex-direction: column;
            gap: 8px;
            border-right: 1px solid $borderColor;
            padding-right: 35px;

            .no-border-right{
                border-right: none;
               }
         
            select{
                font-size: $selectText;
                border: none;
                color: $textColor;         
            }
        }

      }
     
    }
}



.body-content{
    padding: 36px 64px 32px 64px;
 
    .body-content-first{
        padding: 10px 20px;
        @include flex-between;
       
        .body-para1 a{
            @include text-none;
            color: $textColor;
        }
        .body-para2 a{
            @include text-none;
            font-weight: 600;
            color: $color1;
        }
    }
    .grid-container{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 15px;
        padding: 24px 0;
      
      
      
      .grid-item{
          background-color: $contentBgcolor;
          border-radius: 10px;
          padding: 24px;
        
      
          .cart-love{
              font-weight: bold;
              font-size: $myFontsize;
              @include flex-between;
      
              .red-love{
                  color:rgba(237, 63, 63, 1);
              }
          }
          .grid-item-p2{
              color: $textColor;
              font-size: $smalltextFontsize;
              font-weight: $myFontweight;
          }
      
          img{
              width: 223px;
              height: 180px;
             object-fit: contain;
              
          }
      
          .grid-content{
                  @include flex-between;
                  color: $textColor;
      
                  p {
                    @include flex-between;
                      gap: 5px;
                  }
       
          }
      
          .grid-footer{
               @include flex-between;
              padding-top: 24px;
      
              p{
                  font-size: $myFontsize;
                  font-weight: $myFontweight;
                  line-height: 25.2px;
                  color: black;
              }
              span{
                  color: $textColor;
                  font-size: $smalltextFontsize;
              }
            
      
              button{
                  padding: 10px 20px;
                  background-color: $color1;
                  @extend .btn;
              }
          }
      }
      
      }

      .body-content-middle  p a{
      
            @include text-none;
            padding: 10px 20px;
            color: $textColor;
      }

      .body-content-last{
        width: 100%;
        @include flex-between;

      p a{
        @include text-none;
        color: $textColor;
      }

      button{
        background-color: $color1;
        @extend .btn;
      }
    }

}


footer{
    padding: 80px 70px 30px 70px;
    background-color: $contentBgcolor;


.footer-body{
   padding-bottom: 36px;
   @include flex-between;

    .footer-title{
        width: 25%;

        h2{
            color: $color1;
            line-height: 48px;
        }
        p{
            font-size: $normalFontsize;
            line-height: 30px;
            color: $textColor;
        }
    }

   .footer-content{
    @include flex-between;
    width: 40%;

    h3{
        line-height: 70px;
        font-size: 20px;
    }

        a{
            font-size: $normalFontsize;
            font-weight: $myFontweight3;
            line-height: 35px;
            color: $footerTextcolor;
            @include text-none;
        }
    
   }
}

.footer-border{
    border: 1px solid #13131329;
}

.footer-last{
    @include flex-between;
    font-weight: $myFontweight2;
    padding-top: 36px;


    .rules-policy{
        @include flex-between;
        width: 30%;
     

        a{
            @include text-none;
            color: #131313;
        }
    }

}
}

// utility class

.btn{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: $normalFontsize;
    padding: 10px;
    border: none;
    color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    cursor: pointer
}










