@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: rgb(246, 247, 249);
}

a {
  text-decoration: none;
}

header {
  background-color: rgb(255, 255, 255);
  padding: 40px 40px 40px 60px;
}
@media (max-width: 768px) {
  header {
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
header .nav-search-mobile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav-search-mobile .seach-input {
  display: flex;
  gap: 15px;
  border: 1px solid rgba(195, 212, 233, 0.4);
  padding: 12px 12px 12px 24px;
  border-radius: 10px;
  width: 62%;
}
header .nav-search-mobile .seach-input input {
  width: 85%;
}
header .nav-search-mobile .filters {
  border: 1px solid rgba(195, 212, 233, 0.4);
  padding: 12px;
  border-radius: 10px;
}
@media (min-width: 768px) {
  header .nav-search-mobile {
    display: none;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
nav .nav-logo span a {
  font-size: 32px;
  color: rgb(53, 99, 233);
  font-weight: 700;
}
@media (max-width: 768px) {
  nav .nav-logo span a {
    font-size: 24px;
  }
}
nav .nav-logo .nav-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 70px;
  width: 60%;
  display: flex;
  padding: 8px 10px;
}
@media (max-width: 768px) {
  nav .nav-logo .nav-search {
    display: none;
  }
}
nav .nav-logo .nav-search input {
  padding: 8px 0;
  width: 80%;
}
nav .nav-logo .nav-search a i {
  padding: 8px 10px;
}
nav .profile-notification {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .profile-notification a i {
  border: 1px solid rgba(195, 212, 233, 0.4);
  padding: 10px;
  border-radius: 90px;
}
@media (max-width: 768px) {
  nav .profile-notification a i {
    display: none;
  }
}

.popular-car-rent {
  padding-top: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
}
@media (max-width: 768px) {
  .popular-car-rent {
    display: flex;
    overflow-x: scroll;
  }
}

.recommendation-car-rent {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
}
@media (max-width: 768px) {
  .recommendation-car-rent {
    grid-template-columns: auto;
    grid-gap: 20px;
  }
}

i {
  color: rgb(89, 103, 128);
}

h1 {
  font-size: 32px;
  line-height: 48px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 16px;
    line-height: 24px;
  }
}

p {
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 768px) {
  p {
    font-size: 12px;
    line-height: 19.2px;
  }
}

input {
  font-size: 14px;
  font-family: "Plus Jakarta Sans", sans-serif;
  border: none;
}
input:focus {
  outline: none;
}

select {
  border: none;
  font-size: 12px;
  line-height: 24px;
  color: rgb(144, 163, 191);
}

footer {
  padding: 48px;
  background-color: rgb(255, 255, 255);
}
@media (max-width: 768px) {
  footer {
    background-color: rgb(246, 247, 249);
    padding: 0 24px 48px 24px;
  }
}
footer .footer-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 36px;
}
@media (max-width: 768px) {
  footer .footer-head {
    flex-direction: column;
    gap: 1.5rem;
  }
}
footer .footer-head .footer-logo {
  width: 25%;
}
@media (max-width: 768px) {
  footer .footer-head .footer-logo {
    width: 80%;
    margin-right: auto;
  }
}
footer .footer-head .footer-logo h1 {
  color: rgb(53, 99, 233);
}
@media (max-width: 768px) {
  footer .footer-head .footer-logo h1 {
    font-size: 24px;
    line-height: 36px;
  }
}
footer .footer-head .footer-logo p {
  color: rgba(19, 19, 19, 0.6);
}
@media (max-width: 768px) {
  footer .footer-head .footer-logo p {
    line-height: 24px;
  }
}
footer .footer-head .footer-content {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  footer .footer-head .footer-content {
    width: 100%;
    display: flex;
    gap: 1.6rem;
    flex-wrap: wrap;
  }
}
footer .footer-head .footer-content h3 {
  line-height: 48px;
  font-size: 20px;
  color: rgb(26, 32, 44);
  font-weight: 700;
}
@media (max-width: 768px) {
  footer .footer-head .footer-content h3 {
    font-size: 16px;
    line-height: 30px;
  }
}
footer .footer-head .footer-content p a {
  font-weight: 500;
  line-height: 40px;
  color: rgba(19, 19, 19, 0.6);
}
footer .footer-border {
  border: 1px solid rgba(19, 19, 19, 0.16);
}
@media (max-width: 768px) {
  footer .footer-border {
    display: none;
  }
}
footer .footer-last {
  padding-top: 36px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
@media (max-width: 768px) {
  footer .footer-last {
    flex-direction: column;
    gap: 0.8rem;
    padding: 0;
  }
  footer .footer-last .copyright {
    order: 2;
  }
}
footer .footer-last p,
footer .footer-last a {
  color: rgb(26, 32, 44);
  font-weight: 600;
}
footer .rules-policy {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  footer .rules-policy {
    width: 100%;
    order: 1;
  }
}

i {
  color: rgb(89, 103, 128);
}

h1 {
  font-size: 32px;
  line-height: 48px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 16px;
    line-height: 24px;
  }
}

p {
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 768px) {
  p {
    font-size: 12px;
    line-height: 19.2px;
  }
}

input {
  font-size: 14px;
  font-family: "Plus Jakarta Sans", sans-serif;
  border: none;
}
input:focus {
  outline: none;
}

select {
  border: none;
  font-size: 12px;
  line-height: 24px;
  color: rgb(144, 163, 191);
}

.hero {
  position: relative;
  padding: 32px 64px 0 64px;
  display: flex;
  gap: 24px;
}
@media (max-width: 768px) {
  .hero {
    padding: 32px 24px 0 24px;
  }
}
.hero .hero-section.first {
  min-height: 360px;
  background: rgb(84, 166, 255) url("/assets/images/BG.png");
  background-repeat: no-repeat;
  border-radius: 10px;
  background-size: contain;
  background-position: bottom;
}
@media (max-width: 768px) {
  .hero .hero-section.first {
    background-size: contain;
    background-position: bottom;
    min-height: 243px;
    min-width: 100%;
  }
}
.hero .hero-section.second {
  min-height: 360px;
  background: rgb(53, 99, 233) url("/assets/images/BG2.png");
  background-repeat: no-repeat;
  border-radius: 10px;
  background-size: contain;
  background-position: bottom;
}
@media (max-width: 768px) {
  .hero .hero-section.second {
    display: none;
  }
}
.hero .hero-content {
  color: white;
  padding: 16px 0 0 24px;
}
.hero .hero-content .title {
  padding-right: 200px;
}
@media (max-width: 768px) {
  .hero .hero-content .title {
    padding-right: 71px;
  }
}
.hero .hero-content .btn {
  padding-top: 20px;
}
.hero .hero-content .btn .btn1 {
  background-color: rgb(53, 99, 233);
}
@media (max-width: 768px) {
  .hero .hero-content .btn .btn1 {
    position: relative;
    padding: 10px 17px;
    top: 50%;
  }
}
.hero .hero-content .btn .btn2 {
  background-color: rgb(84, 166, 255);
}

.address {
  padding: 32px 64px 0 64px;
  display: flex;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 768px) {
  .address {
    flex-direction: column;
    gap: 32px;
    padding: 32px 24px 0 24px;
  }
}
.address .location {
  border-radius: 10px;
  padding: 24px 48px;
  background-color: rgb(255, 255, 255);
  flex-grow: 1;
}
@media (max-width: 768px) {
  .address .location {
    padding: 16px;
  }
}
.address .location .input-label {
  font-size: 16px;
  color: rgb(26, 32, 44);
  font-weight: 600;
}
.address .location .location-form {
  display: flex;
  gap: 24px;
  padding-top: 16px;
}
.address .location .location-form .form-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-right: 24px;
  border-right: 1px solid rgba(195, 212, 233, 0.4);
}
.address .location .location-form .form-item.third {
  border-right: none;
  padding-right: 10px;
}
.address .location .location-form .form-item.second {
  padding-right: 15px;
}
.address .location .location-form .form-item label {
  font-size: 16px;
  color: rgb(26, 32, 44);
  font-weight: 700;
}
@media (max-width: 768px) {
  .address .location .location-form {
    display: none;
  }
}
@media (min-width: 768px) {
  .address .location .location-form-mobile {
    display: none;
  }
}
@media (max-width: 768px) {
  .address .switch {
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.address .switch .arrow-btn {
  border-radius: 10px;
  background-color: rgb(53, 99, 233);
  padding: 22px;
  display: flex;
}
.address .switch .arrow-btn i {
  color: white;
  font-size: 22px;
  transform: rotate(90deg);
}

@media (max-width: 768px) {
  .address {
    justify-content: center;
  }
  .address .location-form-mobile {
    position: relative;
    display: flex;
    gap: 20px;
  }
  .address .location-form-mobile .form-item {
    padding-top: 10px;
    border-right: 1px solid rgba(195, 212, 233, 0.4);
  }
  .address .location-form-mobile .form-item.third {
    border-right: none;
  }
  .address .location-form-mobile .form-item label {
    font-weight: 600;
  }
  .address .location-form-mobile .form-item select {
    font-weight: 400;
    color: rgb(144, 163, 191);
  }
}
.content {
  display: flex;
}
@media (max-width: 768px) {
  .content {
    justify-content: center;
  }
}
.content aside {
  padding: 24px 0 0 24px;
}
@media (max-width: 768px) {
  .content aside {
    display: none;
  }
}
@media (max-width: 768px) {
  .content .category {
    width: 100%;
  }
}
.content .category .address {
  gap: 0rem;
  padding: 24px;
}
@media (max-width: 768px) {
  .content .category .address {
    width: auto;
    justify-content: center;
  }
}
.content .category .address .location {
  padding: 24px;
  z-index: -1;
}
@media (max-width: 768px) {
  .content .category .address .location {
    padding: 18px 16px;
  }
}
.content .category .address .location .radio-input {
  display: flex;
  gap: 0.3rem;
}
@media (max-width: 768px) {
  .content .category .address .switch {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.content .category .catalogue-car {
  padding: 0 24px 64px 24px;
}
.content .category .catalogue-car .recommendation-car-rent {
  grid-template-columns: auto auto auto;
}
@media (max-width: 768px) {
  .content .category .catalogue-car .recommendation-car-rent {
    grid-template-columns: auto;
    padding-bottom: 48px;
  }
}

.content aside {
  width: 20%;
}
.content .hero {
  padding: 32px;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.content .hero > .hero-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.content .hero > .hero-section .first-col {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.content .hero > .hero-section .first-col .second {
  min-height: 300px;
}
.content .hero > .hero-section .first-col .second .title {
  padding: 0;
}
.content .hero > .hero-section .first-col .view-car {
  display: flex;
  gap: 24px;
}
.content .hero > .hero-section .first-col .view-car .view-1 {
  border: 2px solid rgb(53, 99, 233);
  padding: 8px;
  border-radius: 10px;
}
.content .hero > .hero-section .second-col {
  display: flex;
  align-items: stretch;
}
.content .hero > .hero-section .second-col .car-item .car-class span {
  font-size: 14px;
  font-weight: 500;
}
.content .hero > .hero-section .second-col .car-item .Nissan-car {
  font-size: 20px;
  padding: 24px 0;
  font-weight: 400;
  color: rgb(89, 103, 128);
}
.content .hero > .hero-section .second-col .car-item .car-content {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
}
.content .hero > .hero-section .second-col .car-item .car-content .p-y {
  color: rgb(89, 103, 128);
}
.content .hero > .hero-section .second-col .car-item .car-content .p-x {
  color: rgb(144, 163, 191);
  font-weight: 400;
}
.content .hero > .hero-section .second-col .car-item .car-item-footer {
  align-items: center;
  padding-top: 60px;
}
.content .hero > .hero-section .second-col .car-item .crosstext {
  text-decoration: line-through;
  color: rgb(144, 163, 191);
}
.content .hero .reviews {
  background-color: rgb(255, 255, 255);
  padding: 24px;
}
.content .hero .reviews .total-reviews {
  font-size: 20px;
  font-weight: 700;
}

.catalogue-car {
  padding: 32px 64px 64px 64px;
}
@media (max-width: 768px) {
  .catalogue-car {
    padding: 32px 24px 48px 24px;
  }
}
.catalogue-car .popular {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalogue-car .popular .popular-car a {
  color: rgb(144, 163, 191);
}
.catalogue-car .popular .view-all a {
  color: rgb(53, 99, 233);
}
.catalogue-car .popular a {
  font-weight: 600;
}
@media (max-width: 768px) {
  .catalogue-car .popular a {
    font-size: 14px;
    font-weight: 600;
  }
}
.catalogue-car .recommendation-car {
  padding: 42px 20px;
}
.catalogue-car .recommendation-car p a {
  color: rgb(144, 163, 191);
  font-weight: 600;
}
@media (max-width: 768px) {
  .catalogue-car .recommendation-car p a {
    font-size: 14px;
  }
}
.catalogue-car .show-more {
  padding-top: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalogue-car .show-more button {
  background-color: rgb(53, 99, 233);
}
.catalogue-car .show-more p a {
  color: rgb(144, 163, 191);
  font-size: 14px;
}
@media (max-width: 768px) {
  .catalogue-car .show-more {
    padding-top: 48px;
  }
}

button {
  font-size: 16px;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Plus Jakarta Sans", sans-serif;
}
@media (max-width: 768px) {
  button {
    font-size: 12px;
    padding: 10px 16px;
  }
}

.car-item {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .car-item {
    padding: 12px;
  }
}
.car-item .car-love {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.car-item .car-love p {
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .car-item .car-love p {
    font-size: 15px;
  }
}
.car-item .car-love .red-love {
  color: red;
}
.car-item img {
  width: 100%;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 768px) {
  .car-item img {
    width: 100%;
    height: 70px;
  }
}
.car-item .car-class {
  color: rgb(144, 163, 191);
  font-weight: 700;
}
.car-item .yellow {
  color: rgb(251, 173, 57);
}
.car-item .car-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.car-item .car-content p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
  color: rgb(144, 163, 191);
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  margin-right: auto;
}
.car-item .car-content p i {
  color: rgb(144, 163, 191);
}
@media (max-width: 768px) {
  .car-item .car-content p {
    font-size: 12px;
    font-weight: 600;
  }
}
.car-item .car-item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}
.car-item .car-item-footer p {
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .car-item .car-item-footer p {
    font-size: 14px;
    font-weight: 600;
  }
}
.car-item .car-item-footer p span {
  font-size: 14px;
  font-weight: 700;
  color: rgb(144, 163, 191);
}
@media (max-width: 768px) {
  .car-item .car-item-footer p span {
    font-size: 12px;
  }
}
.car-item .car-item-footer button {
  background-color: rgb(53, 99, 233);
}
@media (max-width: 768px) {
  .car-item .car-item-footer button {
    padding: 10px;
    white-space: nowrap;
  }
}

@media (min-width: 768px) {
  .car-flex {
    align-items: center;
    justify-content: space-around;
  }
  .car-flex .car-content {
    display: flex;
    gap: 0.5rem;
  }
}
@media (max-width: 768px) {
  .car-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .car-flex .car-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
    margin-right: auto;
  }
}
.content aside {
  background-color: rgb(255, 255, 255);
  width: 20%;
}/*# sourceMappingURL=main.css.map */