@import '../abstracts/variables'; 
@import '../base/typography';

footer{
    padding:50px;
    background-color: $content-background-color;
    // display: flex;

    @media (max-width:768px){
        background-color: $background-color;
        padding: 0 24px 24px 24px;


    }

    .footer-head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 36px;
     

        @media (max-width: 768px){
            flex-direction: column;
            gap: 30px;
      

        }

        .footer-logo{
            width: 25%;


            @media (max-width: 768px){
                width: 100%;

            }

        h1{
            color: $primary-color;  
            
            @media (max-width: 768px){
                font-size: 24px;
                line-height: 36px;
            }
        }
        p{
            color: $footer-text-color;

            @media (max-width: 768px){
               width: 80%;
                line-height: 24px;
            }


        }

        }

    .footer-content{
        width: 50%;
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px){
          display: flex;
          gap: 30px;
            flex-wrap: wrap;
       width: 100%;
        }

        h3{
            line-height: 48px;
            font-size: 20px;
            color: rgba(26, 32, 44, 1);
            font-weight: $primary-font-weight;

            @media (max-width: 768px){
                font-size: 16px;
                line-height: 30px;
            }

        }
        p a{
            font-weight: $low-font-weight;
            line-height: 40px;
            color: $footer-text-color;
        }

    }


}

.footer-border{
       border: 1px solid rgba(19, 19, 19, 0.16);


       @media (max-width: 768px){
    display: none;
    }
}

.footer-last{
    padding-top: 36px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;


    @media (max-width:768px){
        padding: 0;
    }

p , a{
    color: rgba(26, 32, 44, 1);
    font-weight: $secondary-font-weight;

    
}
}

.rules-policy{
    width: 30%;
    display: flex;
    justify-content: space-between;
}
 



}