@import '../abstracts/mixins';

.popular-car-rent{
    padding-top: 20px;
    @include grid; 

   @include respond-to('mobile'){
    grid-template-columns: auto
   }
}

.recommendation-car-rent{
    @include grid;
    padding-top: 24px;


    @include respond-to('mobile'){
        grid-template-columns: auto
       }

}

