@import '../abstracts/variables';
@import '../abstracts/mixins';


nav{
      display: flex;
      justify-content: space-between;
      align-items: center;

    .nav-logo{     
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;

         span a{
            font-size:$base-font-size *2;
            color: $primary-color;
            font-weight: 700;

            @media (max-width: 768px){
                font-size: 25px;
            }

    }

    .nav-search{    
        @include flex-between;
        border: 1px solid $border-color;
        border-radius: 70px;
        width: 60%;
        display: flex;
        // gap: 20px;
        padding:8px 10px;

        @media (max-width: 768px){
           display: none;
           
        }



    input{
        padding: 8px 0;
        width: 80%;
    }
      a i{
        padding: 8px 10px;
       } 
    }

    }
    .profile-notification{
        width: 20%;
        @include flex-between;

        a i{
            // font-size: 20px;
            border: 1px solid $border-color;
            padding: 10px;
            border-radius: 90px;

            @media (max-width: 768px){
                display: none;

            }
        }


    }

}




