@import  '../abstracts/variables';

button{  
    font-size: $base-font-size;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-family: "Plus Jakarta Sans", sans-serif; 
}