@import '../abstracts/variables';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');



i{
    color: rgba(89, 103, 128, 1);
}

h1{
    font-size: $base-font-size * 2;
    line-height: 48px;


    @media (max-width: 768px){
        font-size: 16px;
        line-height: 24px;
    }
   
}
p{
    font-size: $base-font-size;
    line-height: 24px;


    @media (max-width: 768px){
        font-size: 12px;
        line-height: 19.2px;
    }

}

input{
    font-size: 14px;
    font-family: "Plus Jakarta Sans", sans-serif; 
    border: none;
    &:focus{
        outline:none;
    }
}

select{
    border: none;
    font-size: 12px;
    line-height: 24px;
    color: rgba(144, 163, 191, 1);
    padding-right: 1rem;
    // color: rgba(26, 32, 44, 1);


    &:focus{
        outline: none;
    }
}


//  Hide default radio button
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 50%;
    outline: none;
    border: 5px solid #3563E94D;
    width: 16px;
    height: 16px;
    //  Border color 
}

// Style the visible part of the custom radio button 
// input[type="radio"]:checked {
    // background-color: #4318BF;
    // border-color: rgba(144, 163, 191, 1);
    // Color when selected 
// }

//  Style the dot inside the custom radio button 
input[type="radio"]::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $primary-color;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    // Hide by default 
}

/* Show the dot when the radio button is checked */
input[type="radio"]:checked::before {
    visibility: visible;
}

