@import '../abstracts/variables';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');



i{
    color: rgba(89, 103, 128, 1);
}

h1{
    font-size: $base-font-size * 2;
    line-height: 48px;


    @media (max-width: 768px){
        font-size: 16px;
        line-height: 24px;
    }
   
}
p{
    font-size: $base-font-size;
    line-height: 24px;


    @media (max-width: 768px){
        font-size: 12px;
        line-height: 19.2px;
    }

}

input{
    font-size: 14px;
    font-family: "Plus Jakarta Sans", sans-serif; 
    border: none;
    &:focus{
        outline:none;
    }
}

select{
    border: none;
    font-size: 12px;
    line-height: 24px;
    color: rgba(144, 163, 191, 1);
}


// .p-20{
//     font-size: 20px;
// }

// .p-12{
//     font-size: 12px;
// }

// .p-14{
//     font-size: 14px;
// }

input[type="radio"] {
    width: 16px; 
    height: 16px; 

    @media (max-width:768px){
        width: 13.33px; 
        height: 13.33px; 
    }
}
