@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../base/typography';

.catalogue-car{
    padding: 32px 64px 64px 64px;

    @media (max-width:768px){
        padding: 32px 24px 48px 24px;
    }

    

    .popular{
        padding: 10px 20px;
        @include flex-between;

        .popular-car a{
            color: rgba(144, 163, 191, 1);
        }
        .view-all a{    
            color: $primary-color;
        }
        a{
            font-weight: $secondary-font-weight;

            @media (max-width:768px){
                font-size: 14px;
                font-weight: 600;
            }
        }
    }



    .recommendation-car{
        padding: 42px 20px;

        p a{
            color: $icon-color;
            font-weight: $secondary-font-weight;



            @media (max-width: 768px){
                  font-size: 14px;
            }
        }

    
    }

    .show-more{
        padding-top: 64px;
        @include flex-between;

        button{
            background-color: $primary-color;
        }

        p a{
            color: $icon-color;
            font-size: 14px;
        }


        @media (max-width:768px){
            padding-top: 48px;
        }
    }


}





   // payment page

   .payment-content{
    padding: 32px;
    grid-gap: 32px;
    display: grid;
    grid-template-columns: 2fr 1.2fr;
    align-items: baseline;


    @media (max-width:768px){
        grid-template-columns: auto;
        justify-content: center;
        padding: 32px 24px;
    }
   
    .payment{
        display: flex; 
        flex-direction: column; 
        gap: 32px;
        // width: 65%;

        @media (max-width:768px){
            // width: 100%;
            order:2;
        }



    .info{
        @include radius;
        padding: 24px;      
        background-color: $content-background-color;


        @media (max-width:768px){
            padding: 16px;
        }

        .bill{
            @include content2;
            line-height: 30px;
        }
        .wizard{
            color: $icon-color;
            @include flex-between;


        }

        form{
            padding-top: 32px;           
            display: grid;
            grid-template-columns: auto auto;
            gap: 24px;


            @media (max-width:768px){
                grid-template-columns: auto;
            }

            .form-item{                       
            display: grid;
            grid-template-columns: auto;
            gap: 16px;
            
            label{
                font-size: 16px;
                font-weight: 600;
               color: rgba(26, 32, 44, 1);


               @media (max-width:768px){
                font-size: 14px;
              }
            }
            input{
                font-weight: 500;
                line-height: 21px;
                border: 1px solid rgba(246, 247, 249, 1);
                @include radius;
                padding: 16px 0 16px 32px;
                background-color: $background-color;

                &::placeholder{
                    color: $icon-color;
                }

                @media (max-width:768px){
                  padding: 16px 0 16px 24px;
                }
            }
            }
        }   
        
        
        &.rental{
            .Pick-Up{
                padding-top: 32px;
                font-weight: 600;
            }
            .Drop-Off{
                padding-top: 32px;
                font-weight: 600;
            }
            form{
                padding-top: 24px;
                .form-item{
                    select{
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 21px;
                        border: 1px solid rgba(246, 247, 249, 1);
                        @include radius;
                        padding: 16px 0 16px 32px;
                        background-color: $background-color;
        
                        &::placeholder{
                            font-size: 14px;
                            color: $icon-color;
                        }
                    }
                }
            }

        }
    

        &.Payment{

            .credit-card{
                 background-color: $background-color;
                 padding: 24px;
                  margin-top: 32px;
                  @include radius;

                  @media (max-width:768px){
                    padding: 16px;
                  }

           
            .visa-credit{
                // display: flex;
                @include flex-between;

                .input-radio{
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }

                // input[type="radio"] {
                //     width: 16px; 
                //     height: 16px; 

                //     @media (max-width:768px){
                //         width: 13.33px; 
                //         height: 13.33px; 
                //     }
                // }
                   
                label{
                    font-weight: 600;
                }

            }

            form{
                .form-item{

                    input{
                        font-weight: 500;
                        line-height: 21px;
                        border: 1px solid rgba(246, 247, 249, 1);
                        @include radius;
                        padding: 16px 0 16px 32px;
                        background-color: $content-background-color;
        
                        &::placeholder{
                            color: $icon-color;
                        }
                    }

                }
            }
        }

        .pay-pal{
            margin-top: 24px;
            padding: 16px 32px;
            background-color: $background-color;
            @include flex-between;
            @include radius;

            @media (max-width:768px){
                padding: 16px;
            }

            // .input-radio{
            //     display: flex;
            //     align-items: center;
            //     gap: 20px;


            //     @media (max-width:768px){
            //         gap: 8px;
            //     }


               

                // input[type="radio"] {
                //     width: 20px; 
                //     height: 20px; 

                //     @media (max-width:768px){
                //         width: 13.33px; 
                //         height: 13.33px; 
                //     }
                // }

                // label{
                //     font-weight: 600;

                    
                // @media (max-width:768px){
                //     font-size: 14px;
                //   }
                // }
            }


            img{
                // width: 96px;
                height: 20px;
                object-fit: contain;
            }
        }

        .bit-coin{
            margin-top: 24px;
            padding: 16px 32px;
            background-color: $background-color;

            
            @media (max-width:768px){
                padding: 16px;
            }

            @include flex-between;
            @include radius;

            .input-radio{
                display: flex;
                gap: 20px;
                align-items: center;


                
            @media (max-width:768px){
                gap: 8px;
            }

                input[type="radio"] {
                    width: 20px; 
                    height: 20px;

                    @media (max-width:768px){
                        width: 13.33px; 
                        height: 13.33px; 
                    }
                }

                label{
                    font-weight: 600;

                    @media (max-width:768px){
                        font-size: 14px;
                      }
                }
            }


            img{
                // width: 96px;
                height: 20px;
                object-fit: contain;
            }
        }
    }

    &.confirmation{

        .checkbox{
            padding: 18px 34px;
            margin-top: 32px;
            background-color: $background-color;
            @include radius;
            display: flex;
            align-items: center;
            gap: 20px;


            
            @media (max-width:768px){
               padding: 10px 16px;
               gap: 16px;
              }

            // input[type="checkbox"] {
            //     width: 20px; /* Adjust width as needed */
            //     height: 20px; /* Adjust height as needed */

            @media (max-width:768px){
                width: 13.33px; 
                height: 13.33px; 
            }

            input[type="checkbox"] {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                width: 23px;
                height: 23px;
                border: 1px solid rgba(144, 163, 191, 1);
                // border-radius: 5px;
                cursor: pointer;
                position: relative;
    
    
            }
    
            /* Custom styles for the checkbox when checked */
            input[type="checkbox"]:checked {
                background-color: rgba(53, 99, 233, 1);
                border: none;
            }
    
    
            input[type="checkbox"]:focus {
                 outline: none;
                   }
    
    
            input[type="checkbox"]:checked::after {
                content: '';
                position: absolute;
                width: 6px;
                height: 15px;
                border: solid white;
                border-width: 0 2px 2px 0;
                top: 2px;
                left: 8px;
                transform: rotate(45deg);
                
    }



            }
            label{
                font-weight: 500;

                @media (max-width:768px){
                  font-size: 12px;
                }
            }
        }

      .button-rental{
        padding-top: 32px;

        button{
            background-color: $primary-color;
        }

      }  

      .safe-data{
        padding-top: 25px ;

        .confirmation-footer{
            padding-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: 8px;

            .con-f1{
                font-weight: 600;
            }
            .con-f2{
                color: $icon-color;
            }
        }
      }
     
}
    }




//    Rental summary information

    .rental-summary{
        @include radius;
        padding: 24px;
        background-color: $content-background-color;

        @media (max-width:768px){
            padding: 16px;
            order: 1;
        }

        .rental{
            @include content2;
            line-height: 30px;

            @media (max-width:768px){
                font-size: 16px;
            }
        }
        .rental-sum{
            line-height: 21px;
            color: $icon-color;
            padding-top: 4px;
        }

        .car-review{
            display: flex;
             align-items: center;
              gap: 16px;
              padding: 32px 0;

              @media (max-width:768px){

                img{
                    width: 116px;
                    height: 80px;
                }             
              }


              .nissan-review{

                @media (max-width:768px){
                    h1{
                        font-size: 20px;
                    }
                }
                
             

                .yellow{
                    color:$star-icon-color;
                }
                span{
                    font-size: 14px;
                    color: $text-color;
                    font-weight: 500;
                }
              }
        }

        .line-border{
            border: 1px solid rgba(195, 212, 233, 0.4);
        }
        .subtotal{
            display: flex; 
            justify-content: space-between;
            padding: 32px 0 24px 0;
            color: $icon-color;
            font-weight: 500;

            .price{
                @include content1;
                color: rgba(26, 32, 44, 1);
            }
        }

        .tax{
            display: flex; 
            justify-content: space-between;
            padding:0 0 24px 0;
            color: $icon-color;
            font-weight: 500;

            .price{
                @include content1;
                color: rgba(26, 32, 44, 1);
            }


        }

        .apply-now{
            padding: 16px 32px;
            border: 1px solid white;
            display: flex; 
            justify-content: space-between;
            background-color: $background-color;
            @include radius;

            input{
                border: none;
                background-color: $background-color;
        }

            & a{
                font-weight: 600;
                color: black;
            }
        }

        .total-price{
            display: flex; 
            align-items: center; 
            justify-content: space-between;
            padding-top: 32px;

            .rental-price{
                @include content2;
            }

            .price{
                font-size: 25px;
                font-weight: 700;

                @media (max-width:768px){
                    font-size: 20px;
                }
            }

            .Overall{
                font-size: 14px;
                color: $icon-color;

                @media (max-width:768px){
                    font-size: 12px;
                }
            }
        }  
    }


//    Admin page 


.content {

    &.admin{

    aside{
        // width: 25%;
        padding: 36px 0 42px 32px;

        a{
            color: $icon-color;
        }

        .menu{
                margin-bottom:30px;
                font-size: 12px;
                padding: 0  0 0 16px;
        }

        ul{
            li{
                width: 80%;
                padding: 16px 0 16px 16px;
                border-radius: 10px;
                margin-bottom: 32px;
                a{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 18px;
                    font-weight: 500;
                }

                &:hover{
                    background-color: $primary-color;
                    color: white;
                }
                &:hover a{
                    color: white;
                }
                &:hover i{
                    color: white;
                }

            }
              
        }
        .logout{
            margin-top: 40px;
        }
 
}
    .admin-pannel{
        padding: 32px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 32px;
        flex-grow: 1;

        @media (max-width:768px){
            padding: 24px;
            grid-template-columns: 1fr;
        }

        .admin-pannel-first-col{
            padding: 24px;
            background-color: $content-background-color;
            @include radius;


            @media (max-width:768px){
                padding: 16px;
            }

             .map{
                padding: 24px 0 32px 0;

                img{
                    width: 100%;
                }
             }
             .details{
                @include content1;
             }
             .car-review{
                display: flex;
                justify-content: space-between;

                @media (max-width:768px){
                    align-items: center;
                }




                .car-review2{
                    display: flex;
                    // align-items: center;
                    gap: 16px;


                    @media (max-width:768px){
                        gap: 8px;
                        img{
                            height: 72px;
                            width: 100px;
                            aspect-ratio: 1/1;
                        }
                    }

                    .nissan-review{
                        padding: 6px 0;
                        display: flex;
                        flex-direction: column;
                        gap: 8px;

                        @media (max-width:768px){
                            padding: 15px 0;
                        }



                        .car-name{
                            // color: #3D5278;
                            font-weight: 700;
                            font-size: 24px;

                            @media (max-width:768px){
                                font-size: 14px;
                            }
                        }
                        .car-brand{
                            font-size: 14px;
                            font-weight: 500;
                            color: #3D5278;

                            @media (max-width: 768px){
                                font-size: 12px;
                            }
                        
                        }
                    }
                }

                p{
                    font-size: 14px;
                    font-weight: 500;

                    @media (max-width:768px){
                       
                        // padding-top: 20px;
                    }
                }
             }



             .location{
                padding-top: 46px;





                .input-radio{

                    .container{                        
                       display: flex;
                       align-items: center;
                       gap: 4px;

                    span{
                       
                        font-weight: 600;

                    }
                }

                }

                .location-form{
                    display: flex;
                    padding-top: 24px;

                    @media (max-width:768px){
                        flex-direction: column;
                        gap: 20px;
                    }



                    .form-item{
                        border-right: 1px solid rgba(195, 212, 233, 0.4);
                        padding-right: 20px;


                        @media (max-width:768px){
                            display: flex;
                            flex-direction: column;
                            gap: 17px;
                            border: none;
                            padding-right: 0;


                            select{
                                // border: 1px solid green ;
                            padding: 18px 16px 18px 24px;
                            @include radius;
                            background-color: $background-color;
                            }
                          
                        }
                      

                        label{
                            font-weight: 700;
                        }

                        &.second{
                            margin-left: 24px;

                            @media (max-width:768px){
                              margin-left: 0;
                            }

                        }

                    
                    &.third{
                        margin-left: 24px;
                        border: none;


                        @media (max-width:768px){
                            margin-left: 0;
                                
                        }

                    }
                    }
                }
             }

             .border{
                border-bottom: 1px solid rgba(195, 212, 233, 0.4);
                margin: 40px 0 36px 0;
             }


        .total-price{
            display: flex;
            justify-content: space-between;


            .rental-price{
                @include content2;
            }
            .Overall{
                font-size: 14px;
                color: $icon-color;
                font-weight: 500;

                @media (max-width:768px){
                    font-size: 12px;
                }


            }

            .price{
                font-size: 32px;
                font-weight: 700;

                @media (max-width:768px){
                    font-size: 20px;
                }
            }
        }




        }

        .admin-pannel-second-col{
            display: flex;
            flex-direction: column;
            gap: 32px;
          
         
         

            & .first-content{
                background-color: $content-background-color;
                padding: 24px;
                @include radius;


                @media (max-width:768px){
                    padding: 16px;
                }

           

             .car-rental{
                display: flex;
                justify-content: space-between;
                align-items: center;
   
             .car-rentalp{
                @include content1;
             }
             }

             .chart{
                display: flex;
                gap: 24px;
                padding-top: 32px;

             @media (max-width:768px){
                flex-direction: column;
             }
                 
            

                .bar-chart{
                          position: relative;
                          display: flex;
                          flex-direction: column;
                          align-items: center;

                          .Rental-car{
                            font-size: 14px;
                            color:$icon-color;
                          }
                    img{                      
                        height: 200px;
                        width: 200px;

                        // @media (max-width:768px){
                        //     height: 150px;
                        //     width: 150px;
                        // }
                    }
                    .bar-inside{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50% , -50%);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 4px;

                        .number{
                            font-weight: 600;
                            font-size: 20px;
                           
                        }
                    }
                }

                .bar-chart-data{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    width: 100%;

                    & >div{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .number{
                            font-size: 14px;
                            font-weight: 600;
                           
                        }
                    }

                    .sport-dot {
                        display: flex;
                        align-items: center;

                        span{
                            font-weight: 500;
                            font-size: 14px;
                            color: rgba(144, 163, 191, 1);
    
                         
    
                        }
                    
                        i{
                            margin-right: 12px;
                            height: 12px;
                            width: 12px;
    
                        }
                        .color1{
                            color: rgba(13, 53, 89, 1);

                        }
                        .color2{
                               color: rgba(23, 93, 156, 1);
                        }
                        .color3{
                            color: rgba(33, 133, 222, 1);

                        }
                        .color4{
                            color: rgba(99, 169, 232, 1);

                        }
                        .color5{
                            color: rgba(166, 206, 242, 1);

                        }
                  
                 
                }
             }
             }


              }

            &> .two{
                padding: 24px;
              background-color: $content-background-color;

              @media (max-width:768px){
                padding: 16px;
              }

              .car-rental{
                padding-bottom: 32px;


                a{
                    font-size: 14px;
                    font-weight: 500;
                    color: $primary-color;
                }
              }


                    .car-transaction{
                       display: flex;
                       justify-content: space-between;
                       padding: 11px 0;
                

                       .review-transaction{
                        display: flex;
                        gap: 1rem;

                        @media (max-width:768px){

                            gap: 8px;
                            img{
                                height: 34px;
                                width: 80px;
                            }
                        }


                        .nissan-review {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;

                        .car-name{
                            font-size: 20px;
                            font-weight: 700;

                            
                        @media (max-width:768px){
                            font-size: 14px;
                        }
                        }

                            .car-brand{
                                font-size: 12px;
                                font-weight: 500;
                                color: $icon-color;
                            }

                       }
                    }

                    .date{
                        font-size: 12px;
                        color: $icon-color;
                        font-weight: 500;
                    }
                    .price{
                        font-size: 16px;
                        font-weight: 700;
                    }

                 }

             .border{
               border: 1px solid rgba(195, 212, 233, 0.4);  
               margin: 26px 0;
             }

          }


        }
    }
}
}