@import '../abstracts/variables';
@import '../abstracts/mixins';


.catalogue-car{
    padding: 32px 64px 64px 64px;

    @media (max-width:768px){
        padding: 32px 24px 48px 24px;
    }

    

    .popular{
        padding: 10px 20px;
        @include flex-between;

        .popular-car a{
            color: rgba(144, 163, 191, 1);
        }
        .view-all a{    
            color: $primary-color;
        }
        a{
            font-weight: $secondary-font-weight;

            @media (max-width:768px){
                font-size: 14px;
                font-weight: 600;
            }
        }
    }



    .recommendation-car{
        padding: 42px 20px;

        p a{
            color: $icon-color;
            font-weight: $secondary-font-weight;



            @media (max-width: 768px){
                  font-size: 14px;
            }
        }

    
    }

    .show-more{
        padding-top: 64px;
        @include flex-between;

        button{
            background-color: $primary-color;
        }

        p a{
            color: $icon-color;
            font-size: 14px;
        }


        @media (max-width:768px){
            padding-top: 48px;
        }
    }


}





   // payment page

   .payment-content{
    padding: 32px;
    grid-gap: 32px;
    display: grid;
    grid-template-columns: 2fr 1.2fr;
    align-items: baseline;
   
    .payment{
        display: flex; 
        flex-direction: column; 
        gap: 32px;
        // width: 65%;

    .info{
        @include radius;
        padding: 24px;      
        background-color: $content-background-color;

        .bill{
            @include content2;
            line-height: 30px;
        }
        .wizard{
            color: $icon-color;
            @include flex-between;


        }

        form{
            padding-top: 32px;           
            display: grid;
            grid-template-columns: auto auto;
            gap: 24px;

            .form-item{                       
            display: grid;
            grid-template-columns: auto;
            gap: 16px;
            
            label{
                font-size: 16px;
                font-weight: 600;
               color: rgba(26, 32, 44, 1);
            }
            input{
                font-weight: 500;
                line-height: 21px;
                border: 1px solid rgba(246, 247, 249, 1);
                @include radius;
                padding: 16px 0 16px 32px;
                background-color: $background-color;

                &::placeholder{
                    color: $icon-color;
                }
            }
            }
        }   
        
        
        &.rental{
            .Pick-Up{
                padding-top: 32px;
                font-weight: 600;
            }
            .Drop-Off{
                padding-top: 32px;
                font-weight: 600;
            }
            form{
                padding-top: 24px;
                .form-item{
                    select{
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 21px;
                        border: 1px solid rgba(246, 247, 249, 1);
                        @include radius;
                        padding: 16px 0 16px 32px;
                        background-color: $background-color;
        
                        &::placeholder{
                            font-size: 14px;
                            color: $icon-color;
                        }
                    }
                }
            }

        }
    

        &.Payment{

            .credit-card{
                 background-color: $background-color;
                 padding: 24px;
                  margin-top: 32px;
                  @include radius;

           
            .visa-credit{
                // display: flex;
                @include flex-between;

                .input-radio{
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }

                input[type="radio"] {
                    width: 16px; 
                    height: 16px; 
                }
                   
                label{
                    font-weight: 600;
                }

            }

            form{
                .form-item{

                    input{
                        font-weight: 500;
                        line-height: 21px;
                        border: 1px solid rgba(246, 247, 249, 1);
                        @include radius;
                        padding: 16px 0 16px 32px;
                        background-color: $content-background-color;
        
                        &::placeholder{
                            color: $icon-color;
                        }
                    }

                }
            }
        }

        .pay-pal{
            margin-top: 24px;
            padding: 16px 32px;
            background-color: $background-color;
            @include flex-between;
            @include radius;

            .input-radio{
                display: flex;
                align-items: center;
                gap: 20px;

                input[type="radio"] {
                    width: 20px; 
                    height: 20px; 
                }

                label{
                    font-weight: 600;
                }
            }
        }

        .bit-coin{
            margin-top: 24px;
            padding: 16px 32px;
            background-color: $background-color;

            // display: flex;
            @include flex-between;
            @include radius;

            .input-radio{
                display: flex;
                gap: 20px;
                align-items: center;

                input[type="radio"] {
                    width: 20px; 
                    height: 20px;
                }

                label{
                    font-weight: 600;
                }
            }
        }
    }

    &.confirmation{

        .checkbox{
            padding: 18px 34px;
            margin-top: 32px;
            background-color: $background-color;
            @include radius;
            display: flex;
            gap: 20px;


            input[type="checkbox"] {
                width: 20px; /* Adjust width as needed */
                height: 20px; /* Adjust height as needed */
            }
            label{
                font-weight: 500;
            }
        }

      .button-rental{
        padding-top: 32px;

        button{
            background-color: $primary-color;
        }

      }  

      .safe-data{
        padding-top: 25px ;

        .confirmation-footer{
            padding-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: 8px;

            .con-f1{
                font-weight: 600;
            }
            .con-f2{
                color: $icon-color;
            }
        }
      }
     
}
    }
}



//    Rental summary information

    .rental-summary{
        @include radius;
        padding: 24px;
        background-color: $content-background-color;

        .rental{
            @include content2;
            line-height: 30px;
        }
        .rental-sum{
            line-height: 21px;
            color: $icon-color;
            padding-top: 4px;
        }

        .car-review{
            display: flex;
             align-items: center;
              gap: 16px;
              padding: 32px 0;


              .nissan-review{
             

                .yellow{
                    color:$star-icon-color;
                }
                span{
                    font-size: 14px;
                    color: $text-color;
                    font-weight: 500;
                }
              }
        }

        .line-border{
            border: 1px solid rgba(195, 212, 233, 0.4);
        }
        .subtotal{
            display: flex; 
            justify-content: space-between;
            padding: 32px 0 24px 0;
            color: $icon-color;
            font-weight: 500;

            .price{
                @include content1;
                color: rgba(26, 32, 44, 1);
            }
        }

        .tax{
            display: flex; 
            justify-content: space-between;
            padding:0 0 24px 0;
            color: $icon-color;
            font-weight: 500;

            .price{
                @include content1;
                color: rgba(26, 32, 44, 1);
            }


        }

        .apply-now{
            padding: 16px 32px;
            border: 1px solid white;
            display: flex; 
            justify-content: space-between;
            background-color: $background-color;
            @include radius;

            input{
                border: none;
                background-color: $background-color;
        }

            & a{
                font-weight: 600;
                color: black;
            }
        }

        .total-price{
            display: flex; 
            align-items: center; 
            justify-content: space-between;
            padding-top: 32px;

            .rental-price{
                @include content2;
            }

            .price{
                font-size: 25px;
                font-weight: 700;
            }

            .Overall{
                font-size: 14px;
                color: $icon-color;
            }
        }  
    }
}

   