@import '../abstracts/variables';
@import '../abstracts/mixins';

.hero {
 
    padding: 32px 64px 0 64px;
    display: flex;
    // @include flex-between;
    gap: 24px;


    .hero-section.first{   
        min-height: 360px;
        width: 50%;
       
        background: $secondary-color url("/assets/images/BG.png");
        background-repeat: no-repeat;
        @include radius;


    }

    .hero-section.second {
        min-height: 360px;
        width: 50%;     
        background: $primary-color url("/assets/images/BG2.png");
        background-repeat: no-repeat;
        @include radius;


        @media (max-width: 768px){
            display: none;
        }
    }

    .hero-content {
  
        color: white;
        padding: 24px 0 16px 24px;


        .btn {
            padding-top: 20px;

            .btn1 {
                background-color: $primary-color;
            }

            .btn2 {
                background-color: $secondary-color;
            }
        }

    }



    

}






.address {
    position: relative;
    padding: 32px 64px 0 64px;
    @include flex-between;


    @include respond-to('mobile'){
        flex-wrap: wrap;
    }


    .location {
       
        @include radius;
        padding: 24px 48px;
        background-color: $content-background-color;

        .input-label {
            font-size: 16px;
            color: rgba(26, 32, 44, 1);
            font-weight: $secondary-font-weight;
        }

        form {
            @include flex-between;
            padding-top: 16px;

            .form-item {
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding-right: 24px;
                border-right: 1px solid $border-color;

                &.third {
                    border-right: none;
                }

                label {
                    font-size: $base-font-size;
                    color: rgba(26, 32, 44, 1);
                    font-weight: $primary-font-weight;
                }
            }
        }
    }

    .switch{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);

        .arrow-btn {
            @include radius;
            background-color: $primary-color;
            padding: 22px;
            display: flex;

            i {
                color: white;
                font-size: 22px;
                transform: rotate(90deg);
            }
        }
    }
}