@import '../abstracts/variables';
@import '../abstracts/mixins';

.hero {
    padding: 32px 64px 0 64px;
    display: flex;
    gap: 24px;
    flex-grow: 1;

    @media (max-width: 768px) {
        padding: 32px 24px 0 24px;
        overflow-x: auto;
    }



    .hero-section.first {

        min-height: 360px;
        background: $secondary-color url("/assets/images/BG.png");
        background-repeat: no-repeat;
        @include radius;
        background-size: contain;
        background-position: bottom;


        @media (max-width: 768px) {
            background-size: contain;
            background-position: bottom;
            min-height: 243px;
            min-width: 100%;
        }


    }

    .hero-section.second {
        min-height: 360px;
        background: $primary-color url("/assets/images/BG2.png");
        background-repeat: no-repeat;
        @include radius;
        background-size: contain;
        background-position: bottom;


     
        @media (max-width: 768px) {
            background-size: contain;
            background-position: bottom;
            min-height: 243px;
            min-width: 100%;
        }

    }






    .hero-content {
        color: white;
        padding: 16px 144px 0 24px;

        // .title {
        //     // padding-right: 200px;


        //     // @media (max-width: 768px) {
        //     //     padding-right: 71px;
        //     // }

        // }


        .btn {

            padding-top: 20px;

            .btn1 {

                @media (max-width: 768px) {
                    position: relative;
                    padding: 10px 17px;
                    top: 50%;

                }

                background-color: $primary-color;
            }

            .btn2 {
                background-color: $secondary-color;
            }
        }



    }





}

.address {
    padding: 32px 64px 0 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
     



    @media (max-width: 768px) {
        flex-direction: column;
        gap: 32px;
        padding: 32px 24px 0 24px;
        position: relative;
    }


    .location {
        @include radius;
        padding: 24px 35px;
        background-color: $content-background-color;
      

        @media (max-width: 768px) {
            padding: 16px;
        }

        .input-label {
            font-size: 16px;
            color: rgba(26, 32, 44, 1);
            font-weight: $secondary-font-weight;
        }

        .location-form {
            display: flex;
            gap: 20px;
            padding-top: 16px;

            .form-item {
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding-right: 20px;
                border-right: 1px solid $border-color;

                &.third {
                    border-right: none;
                    padding-right: 10px;
                }

                &.second {
                    padding-right: 15px;
                }

                label {
                    font-size: $base-font-size;
                    color: rgba(26, 32, 44, 1);
                    font-weight: $primary-font-weight;
                }
            }

            @media (max-width: 768px) {
                display: none;
            }


        }


        @media (min-width:768px) {
            .location-form-mobile {
                display: none;
            }
        }


    }

    .switch {

        @media (max-width: 768px) {
            position: absolute;
            top: 57%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .arrow-btn {
            @include radius;
            background-color: $primary-color;
            padding: 22px;
            display: flex;

            i {
                color: white;
                font-size: 22px;
                transform: rotate(90deg);
            }
        }
    }
}



@media (max-width:768px) {

    .address {
        justify-content: center;



        .location-form-mobile {
            position: relative;
            display: flex;
            gap: 20px;


            .form-item {
                padding-top: 10px;
                border-right: 1px solid $border-color;

                &.third {
                    border-right: none;
                }

                label {
                    font-weight: 600;

                }

                select {
                    font-weight: 400;
                    color: rgba(144, 163, 191, 1);
                }
            }
        }
    }
}

// category car rent

.content {
    display: flex;

    @media (max-width:768px) {
        justify-content: center;
    }


    aside {
        // width: 20%;
        padding: 24px 0 0 24px;


        @media (max-width:768px) {
            display: none;
        }
    }

    .category {
        // width: 80%;

        @media (max-width:768px) {
            width: 100%;
        }


        .address {
            position: relative;
            gap: 3rem;
            padding: 24px;
           
      

            @media (max-width:768px) {
                position: relative;
                width: auto;
                justify-content: center;
            }



            .location {
                padding: 24px;
                z-index: -1;


                @media (max-width:768px) {
                    padding: 18px 16px;
                }



                .radio-input {
                    display: flex;
                    gap: 0.3rem;
                }


            }

            .switch {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);


                @media (max-width:768px) {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }




        .catalogue-car {
            padding: 0 24px 64px 24px;




            .recommendation-car-rent {
                grid-template-columns: auto auto auto;



                @media (max-width:768px) {
                    grid-template-columns: auto;
                    padding-bottom: 48px;
                }
            }
        }

    }
}





// detail car rent



.content {

    aside {
        width: 20%;
    }

    .hero {
        padding: 32px 32px  0 32px;
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 32px;



        @media (max-width:768px){
            width: 100%;
            padding: 32px 24px  0 24px;
        }


        &>.hero-section {
            display: grid;
            grid-template-columns: repeat(2, 1fr);         
            gap: 2rem;

            @media (max-width:768px){
                grid-template-columns: 1fr;
                // grid-row: inherit;
                display: flex;
                flex-direction: column;
            }

           & .first-col{
            display: flex;
            flex-direction: column;
            gap: 24px;
           
            & .second {
               min-height: 300px;
                .title {
                    padding: 0;

                    p{
                        width: 70%;

                        @media (max-width:768px){
                            width: 80%;
                         }
                    }
                }


                @media (max-width:768px){
                    width: 100px;
                    min-height: 200px;
                }
            }


            .view-car{
                display: flex;
                // gap: 24px;
                align-items: center;
                justify-content: space-between;

            img{
                border-radius: 10px;
            }

                .view-1{
                    border: 2px solid $primary-color;
                    padding: 8px;
                    @include radius;

                   
                @media (max-width:768px){
                    // border: 1.5px solid $primary-color;
                    padding: 4px;
                }
                }



                @media (max-width:768px){
                    img{
                        border-radius: 8px;
                        // height: 96px ;
                        width: 76px;
                        object-fit: contain;
                    }
                }
            }

        }

            & .second-col{
                display: flex;
                align-items: stretch;

                @media (max-width:768px){
                    display: inline;
                }

                .car-item {

                    .car-class {

                        span {
                            font-size: 14px;
                            font-weight: 500;
                        }


                    }

                    .Nissan-car {
                        font-size: 20px;
                        padding: 24px 0;
                        font-weight: 400;
                        color: $text-color;

                        @media (max-width:768px){
                            font-size: 12px;
                            color: $icon-color;
                        }
                    }

                    .car-content {
                        display: grid;
                        grid-template-columns: auto auto auto auto;
                        gap: 20px;

                        @media (max-width:768px){
                            gap: 12px;
                        }


                        .p-y {
                            color: $text-color;
                        }

                        .p-x {
                            color: $secondary-text-color;
                            font-weight: 400;
                        }
                    }

                    .car-item-footer{
                        align-items: center;
                        padding-top: 60px;

                        @media (max-width:768px){
                            padding-top: 32px;
                        }
                        

                        button{
                            padding: 16px 32px;


                            @media (max-width:768px){
                                padding: 10px 20px;
                            }
                        }
                    }

                    .crosstext {
                        text-decoration: line-through;
                        color: $secondary-text-color;
                    }
                }
            }

        }



        .reviews {
            background-color: $content-background-color;
            padding: 24px;
            @include radius;

            @media (max-width:768px){
                padding: 16px;
            }

            .total-reviews{
                @include content1;
                display: flex;
                align-items: center;
                gap: 12px;
                padding-bottom: 32px;

                // @media (max-width:768px){
                //     gap: 8px;
                // }
                
                button{
                    padding: 6px 12px;
                    background-color: $primary-color;
                }
            }

         img{
            height: 56px;
            width: 56px;

            @media (max-width:768px){
                height: 44px;
                width: 44px;
            }
         }


         .reviews-1{
            display: flex;
             gap: 1rem;
             padding-bottom: 24px;

             @media (max-width:768px){
                gap: 8px;
             }
         }

        .reviews-2{
            display: flex; 
            gap: 1rem;

            @media (max-width:768px){
                gap: 8px;
             }
        }

        .reviews-content{
            
            .Name-date{
                display: flex;
                 justify-content: space-between;
                 margin-bottom: 8px;

                 .name{
                    @include content2;
                    @media (max-width:768px){
                        font-size: 16px;
                    }

                 }
                 .date{
                    font-size: 14px;
                    font-weight: 500;
                    color: $icon-color;

                    @media (max-width:768px){
                        font-size: 12px;
                    }
                 }
            }

            .position-star{
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;

                .position{
                    font-size: 14px;
                    font-weight: 500;
                    color: $icon-color;

                    @media (max-width:768px){
                        font-size: 12px;
                    }
                }

                .yellow{
                    color: $star-icon-color;
                }
            }

            .ceo-message{
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                color: $text-color;


                 @media (max-width:768px){
                    color: $icon-color;
                 }
            }
        }
           

        .review-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            @include content1;
            padding-top: 34px;
        }

        }



        .catalogue-car{
            padding: 0;

            .popular-car-rent{
                grid-template-columns: auto auto auto;
                padding:32px 0;
            }
        }
    }



}